body {
    background-image: none;
    background-color: #ffeedd;
}

p {
    margin: 0;
}

#post-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}

.post-holder {
    display: flex;
    width: 40%;
    margin-bottom: 25px;
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 2.5px 16px #ccb9bc;
    font-family: sans-serif;
}
  
.post-holder:hover {
    box-shadow: 0px 10px 20px #ab9d9e;
}

.post-name {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 224px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    color: #707076;
    font-weight: bold;
    padding: 0px 10px;
}

.post-desc {
    padding: 16px;
    border-radius: 0px 10px 10px 0px;
    background-color: #e8e8e8;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-body-info {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
  
.post-header-text {
    color: #989795;
}
.post-delete {
    margin-left: 10px;
}
.post-delete > i {
    color: #818181;
    cursor: pointer;
}

.post-footer {
    text-align: right;
    margin-top: 7px;
    display: block;
}
.post-footer > i {
    color: #818181;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.actions > button {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-yes {
    background: green;
    border: 1px solid green;
}

.btn-no {
    background: red;
    border: 1px solid red;
}